.loader {
    border: 7px solid var(--gray-200);
    border-top: 7px solid var(--blue);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}