.containerCatalog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 1080px) {
    .containerCatalog{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 720px) {
    .containerCatalog{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}