.containerLoginComponent{
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.containerLoginComponent h2{
    color: var(--blue);
    text-transform: uppercase;
}
.containerLoginComponent .divInput{
    margin: 25px 0;
}
.containerLoginComponent .inputStyles,
.containerLoginComponent .buttonStyles{
    width: 100%;
    max-width: 400px;
}
.containerLoginComponent .buttonStyles{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;

    transition: filter .3s ease-in;
}

.containerLoginComponent .buttonStyles:hover{
    filter: brightness(1.2)
}